IntelligobCliente/Service References/Referencia/Intelligob.Utilerias.Modelos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Intelligob.Utilerias.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Intelligob.Utilerias.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCuenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuenta" nillable="true" type="tns:ArrayOfCuenta" />
  <xs:complexType name="Cuenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denominacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naturaleza" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel1" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel2" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel3" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel4" type="xs:int" />
      <xs:element minOccurs="0" name="Origen" type="xs:int" />
      <xs:element minOccurs="0" name="Subgrupo" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cuenta" nillable="true" type="tns:Cuenta" />
</xs:schema>